@mixin position($type, $top, $bottom, $right, $left) {
  position: $type;
  left: $left;
  top: $top;
  right: $right;
  bottom: $bottom;
}

@mixin selectable($type){
  -webkit-user-select: $type; /* Safari */
  -moz-user-select: $type; /* Firefox */
  -ms-user-select: $type; /* IE 10+ */
  user-select: $type;
}

@mixin childCenter(){
  display: flex;
  justify-content: center;
  align-items: center;
}